<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>D3 Lab2 CSE564</title>
  </head>
  <style>
    body {
      font: 11px sans-serif;
    }
  </style>
  <body>
    <h1>Lab 2 - Visual Data Analytics</h1>
    <div><button><a href="lab2/sample">Sample</a></button></div>
    <p></p>
    <div><button><a>Cluster Plots</a></button>
      <button><a href="/pca">PCA</a></button>
      <button><a href="/mds">MDS</a></button>
    </div>
    <p></p>
    <div><button><a href="/scatter">Scatter Plots</a></button></div>
  </body>
</html>
